@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


.footersection {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footeruni {
    background-color: #0f0f0f;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom-text {
    font-size: 0.9em;
    color: #a5a5a5;
    text-align: center;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #ffffff;
    /* justify-content: space-between; */
    /* font-size: 20px; */
}

.title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subtitle {
    font-size: 1em;
    margin-bottom: 20px;
    max-width: 400px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.action-button {
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 30px;
    background-color: #fafafa22;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.action-button:hover {
    background-color: #a7baff;
}

.image-content img {
    width: auto;
    height: auto;
}