@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
  background-color: black;
  /* Set the background color to black */
  color: white;

  overflow-x: hidden;
}


.bottom-image {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 300px;
  width: auto;
}

.bottom-arrow {
  position: absolute;
  bottom: 0%;
  margin-bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}


.icon-image {
  width: 100px;
  height: auto;

}

.container {
  background-image: url('./assets/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow-y: hidden;
  height: 100%;
}


.navbar {
  position: fixed;
  top: 10px;
  right: 10px;
  /* Adjust the padding for the navbar */

}

.navbar ul {
  list-style: none;
  text-align: right;
  margin-top: 40px;
  margin-right: 40px;
}

.navbar ul li {
  padding-bottom: 10px;
}


.navbar ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(195, 190, 171, 0.6);

}

.navbar ul li a:hover {
  color: rgba(195, 190, 171, 1);
  cursor: pointer;
}

.hero-section {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
}

.name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  letter-spacing: 6px;
  color: rgba(195, 190, 171, 1);
  margin-right: 100px;
}

.content {
  max-width: 40%;
  margin: auto;
  /* margin-left: 100px; */

  /*display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Avantgarde BK BT';
  font-size: 30px;
  align-items: flex-start; */
}

.hero_img {
  margin-top: 100px;
  z-index: -1;
  /* margin-left: 120px; */
  width: 400px;
  height: auto;
}


.heading {
  font-family: 'Avantgarde BK BT';
  font-size: 60px;
}

.social-media {
  position: fixed;
  bottom: 10px;
  left: 10px;
  margin-left: 100px;

  p {
    margin: 0 0 5px;
  }
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media li {
  padding-bottom: 20px;
  transition: transform 5s ease;

}

.social-image:hover {
  transform: scale(1.2);
  /* Adjust the scale factor for the zoom effect */
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.aboutMeDescription {
  font-family: 'Avantgarde BK BT';
  font-size: 2rem;
  font-weight: 500;
  box-sizing: border-box;
  line-height: 120%;
  text-align: left;
}

.aboutsection {
  margin-left: 150px;
  width: 80%;
}

.AboutTitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  color: rgba(195, 190, 171, 1);
  margin-right: 100px;
}

.bgImage {
  position: relative;
}

.aboutsection {
  padding-top: 100px;
}

.svg-image {
  position: absolute;
  right: 0%;
}

@media (max-width: 768px) {
  .navbar ul {
    margin-top: 20px;
    /* Adjust margin for mobile */
    margin-right: 20px;
    /* Adjust margin for mobile */
  }

  .navbar ul li {
    padding-bottom: 5px;
    /* Adjust padding for mobile */
  }

  .content {
    max-width: 80%;
    /* Adjust max-width for mobile */
    margin-left: 20px;
    /* Adjust margin for mobile */
    margin-top: 80px;
    /* Adjust margin for mobile */
  }

  .hero_img {
    margin-top: 50px;
    /* Adjust margin for mobile */
    margin-left: 80px;
    /* Adjust margin for mobile */
    width: 300px;
    /* Adjust width for mobile */
  }

  .social-media {
    margin-left: 20px;
    /* Adjust margin for mobile */
  }

  .aboutsection {
    margin-left: 20px;
    /* Adjust margin for mobile */
    width: 80%;
    /* Adjust width for mobile */
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .social-media ul {
    display: flex;
    flex-direction: row;
  }

  .social-media ul li {
    padding-right: 16px;
  }


}